<h1>
    <%= @article.title %>
</h1>
<h5>
    <%= @article.created_at.strftime("%B %e, %Y   %l:%M %p") %>
</h5>
<h4>
    <%= link_to "Go Back to Articles List", articles_path %>
</h4>

<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<hr>

<% if logged_in? %>
    <h4>
        <div class="row">
            <div class="mx-4">
                <%= link_to "Edit Article", edit_article_path(@article) %>
            </div>
            <div class="mx-4">
                <%= link_to "Delete Article", article_path(@article),
                            method: :delete,
                            data: {confirm: 'Are you sure you want to delete the Article?'} %>
            </div>
        </div>
    </h4>
<% end %>

<div>
    <% (0...@article.images.count).each do |image| %>
        <%= image_tag(@article.thumbnail(image)) %>
    <% end %>
</div>

<h3>
    <%= @article.body %>
</h3>

<hr>
<h3>Comments</h3>
<%= render partial: 'comments/form' %>
<hr>
<%= render partial: 'articles/comment', collection: @article.comments %>
